.experience {
    &__container {
    }

    &__list {
        @include flex();
        justify-content: center;
        gap: 30px;
        // gap: 60px;
        flex-wrap: wrap;
    }

    &__item {
        width: 100%;
        max-width: 480px;
        margin-left: 30px;
        // width: calc((100% - 90px) / 4);
        height: 110px;
        position: relative;
        font-family: $titleFont;
        font-weight: 700;
        color: var(--background-color);
        // &:first-child {
        //     margin-left: 30px;
        // }
    }

    &__counter {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        @include flex();
        gap: 10px;
        justify-content: center;
        height: 72px;
        width: 120px;
        background: linear-gradient(to right, var(--el-gradient-start) 0%, var(--el-gradient-end) 100%);
        border-radius: 10px;
        font-size: 32px;
        // display: none;
    }

    &__icon {
        fill: var(--background-color);
    }

    &__title {
        @include flex();
        border-radius: 10px;
        background-color: var(--background-secondary-color);
        height: 100%;
        padding: 20px 20px 20px 110px;
        line-height: 1.4;
        font-size: 18px;
        color: var(--text-primary);
    }
}

@media screen and (min-width: 768px) {
    .experience {
        &__container {
        }

        &__list {
            gap: 30px 60px;
        }

        &__item {
            margin-left: 0;
            width: calc((100% - 90px) / 2);
            // width: calc((100% - 90px) / 4);

            // &:first-child {
            //     margin-left: 30px;
            // }
            &:nth-child(odd) {
                margin-left: 30px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1280px) {
    .experience {
        &__container {
        }

        &__list {
        }

        &__item {
            width: calc((100% - 210px) / 4);
            max-width: unset;
            &:nth-child(odd) {
                margin-left: 0;
            }
            &:first-child {
                margin-left: 30px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
}

///////////
// ----- //
///////////
// 360
// 375
// 384
// 390
// 412
// 414
// 428
// 430
// 450
// 464
// 500
// 540
