.page {
    &.index {
    }

    &__intro {
    }

    &__experience {
        padding: $pt 0;
    }

    &__services {
        padding: $pt 0;
    }

    &__blog {
        padding: $pt 0;
    }

    &__advantages {
        padding: $pt 0;
    }

    &__reviews {
        padding: $pt 0;
    }

    &__textblock {
        padding: $pt 0;
    }

    &__faq {
        padding: $pt 0;
    }

    .section:last-child {
        padding-bottom: $pt;
    }

    .section-title {
        font-size: 32px;
        // font-size: 40px;
        font-weight: 700;
        font-family: $titleFont;
        padding-bottom: 52px;
        text-align: center;
    }
    .section-subtitle {
        font-size: 16px;
        color: var(--accent-color);
        text-transform: uppercase;
        padding-bottom: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .page {
        .section-title {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 991px) {
    .page {
    }
}
